html {
  overflow: hidden;
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://static.vecteezy.com/system/resources/previews/000/122/839/original/vector-grunge-background.jpg");
  background-blend-mode: multiply; 
  overflow: auto;
  height: 100%;
  background-size: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  width:  500px;
  height: 500px;
  border-radius: 80px;
  border: solid black;
}

.img2 {
  width:  1100px;
  height: 500px;
  border-radius: 25px;
}

.title {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 70px;
  text-decoration: underline;
  color: teal;
  -webkit-text-stroke: 2px black;
  margin-bottom: 25px;
  opacity: 0.8;
}

a:link {
  color: gray;
  background-color: black;
  padding: 7px;
  border-radius: 10px;
  text-decoration: none;
  border: solid gray;
  border-width: thin;
  opacity: 0.8;
}

a:visited {
  color: gray;
  background-color: black;
  padding: 7px;
  border-radius: 10px;
  text-decoration: none;
  border: solid gray;
  border-width: thin;
  opacity: 0.8;
}

a:hover {
  color: gainsboro;
  border: solid gainsboro;
  border-width: thin;
  opacity: 0.8;
}